---
import Layout from "../../layouts/Layout.astro";
import db from "../../utils/db";

const { lang, site_slug } = Astro.params;

const site = await db.site.findUnique({
    where: {
        slug: site_slug,
    },
    include: {
        sections: {
            include: {
                contents: {
                    where: {
                        langCode: lang,
                    },
                },
            },
        },
    },
});

if (!site) {
    return new Response(`Site ${site_slug} Not Found`, { status: 404 });
}

function prepareHtml(html: string, content: { [key: string]: string }) {
    for (const key in content) {
        html = html.replaceAll(`{{${key}}}`, content[key]);
    }
    return html;
}
---

<Layout title="" defaultPadding={false}>
    <main>
        <h1>{site.title}</h1>
        {
            site.sections.map((section) => {
                // get proper lang content
                const sectionContent = section.contents.find((content) => content.langCode === lang);

                if (!sectionContent) {
                    return (
                        <section class="w-full bg-red-400 p-9">
                            <h2 class="text-center">Content not found for lang: {lang}</h2>
                        </section>
                    );
                }

                const htmlEverythingSet = prepareHtml(
                    section.html,
                    (sectionContent?.content as {
                        [key: string]: string;
                    }) || ({} as { [key: string]: string })
                );

                return (
                    <>
                        <style set:html={section.css} />
                        <section set:html={htmlEverythingSet} />
                    </>
                );
            })
        }
    </main>
</Layout>
