---
import Layout from "../../../layouts/Layout.astro";
import { fetchDataFromServer } from "../../../pages/api/trpc/serverHelpers";

const { slug, lang } = Astro.params;
const event = await fetchDataFromServer("event.read_by_slug", slug);

if (!event) {
    throw new Error("Event not found");
}
---

<Layout title={event.title}>
    <section class="m2 mx-auto px-6 py-12">
        <h1 class="mb-4 text-3xl font-bold">{event.title}</h1>
        <img src={event.image} alt={event.title} class="mb-4 h-64 w-full rounded-lg object-cover" />

        <p class="text-gray-600">
            {event.location} | {new Date(event.date).toLocaleDateString(lang)}
        </p>

        <h2 class="mt-6 text-xl font-semibold">Details</h2>
        <p class="text-gray-700">{event.detailedDescription}</p>

        {
            event.schedule && (
                <div>
                    <h2 class="mt-6 text-xl font-semibold">Schedule</h2>
                    <pre class="rounded-md bg-gray-100 p-4">
                        {typeof event.schedule === "string" ? JSON.parse(event.schedule) : event.schedule}
                    </pre>
                </div>
            )
        }

        {
            event.speakers.length > 0 && (
                <div>
                    <h2 class="mt-6 text-xl font-semibold">Speakers</h2>
                    <ul>
                        {event.speakers.map((speaker) => (
                            <li class="mt-4">
                                <img src={speaker.image} alt={speaker.name} class="h-16 w-16 rounded-full" />
                                <p class="text-lg font-bold">{speaker.name}</p>
                                <p class="text-gray-600">{speaker.bio}</p>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }

        {
            event.ticketsUrl && (
                <a href={event.ticketsUrl} class="mt-6 inline-block rounded-lg bg-blue-600 px-6 py-3 text-white">
                    Get Tickets
                </a>
            )
        }
    </section>
</Layout>
