---
interface Props {
	type?: "text" | "email" | "textarea";
	id: string;
	label: string;
	placeholder?: string;
	rows?: number;
	name?: string;
}

const { type = "text", id, label, placeholder, rows = 4, name } = Astro.props;
---

<div>
	<label for={id} class="mb-2 block text-gray-700">{label}</label>
	{
		type === "textarea" ? (
			<textarea
				id={id}
				name={name}
				rows={rows}
				placeholder={placeholder}
				class="w-full rounded-md border p-3 focus:border-blue-500 focus:ring-2 focus:ring-blue-500"
			/>
		) : (
			<input
				type={type}
				id={id}
				name={name}
				placeholder={placeholder}
				class="w-full rounded-md border p-3 focus:border-blue-500 focus:ring-2 focus:ring-blue-500"
			/>
		)
	}
</div>
